.jumbotron {
  background-color: steelblue;
}

.card {
  margin: 30px;
  width: 400px;
}

.card-header {
  background-color: slategray;
  padding: 30px;
}

.card-body {
  background-color: whitesmoke;
  padding: 30px;
}

h1,
h2 {
  color: white;
}

.fa-glasses,
.fa-user-graduate,
.fa-mug-hot {
  color: white;
}
